@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  margin-bottom: 10em;
}

h1,
h2,
h3 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 0.8em;
}

h1 {
  font-size: 4em;
  margin-bottom: 0.7em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}
h4 {
  color: #d20094;
  font-size: 1.5em;
  margin: 0;
}

.no-display {
  display: none;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.logo {
  display: inline-block;
  width: fit-content;
}

.logo img {
  width: 10em;
}

label {
  font-size: 1.2em;
}

.contenitore-generale {
  max-width: 1300px;
  margin: 0 auto;
  padding: 4em;
}

.btn {
  text-transform: uppercase;
  padding: 0.8em 3em;
  border: none;
  background-color: #00ffff;
  color: #00363a;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 15px 5px #00ffff80;
}

button {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 18px 60px;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: white;
  color: #00363a;
}

#welcome-section ul {
  margin: 3em 1em;
  list-style-type: disc;
}
#welcome-section li {
  margin-bottom: 0.5em;
}

#form-welcome {
  margin-top: 6em;
}

#form-welcome button {
  margin-left: 8em;
  display: inline-block;
}

#form-difficoltà #scelta {
  font-size: 1.3em;
  margin: 0 1em 0 0.2em;
  border: none;
  border-radius: 0;
  background-color: #00ffff;
  color: #00363a;
  text-transform: uppercase;
}

#form-domande {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 15px;                             
  max-width: 900px;                      
  margin: 40px auto;                    
  justify-items: center;                 
}

#form-domande button {
  width: 100%;
  padding: 0.8em 3em;
  border: none;
  box-shadow:
    0 -1px 0px 2px #ffffff97,
    0 -1px 0px 2px #ffffffe8;
  border-radius: 50px;
  color: #fff;
  background-color: #ffffff4a;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 1em;
}

#form-domande button:hover {
  background: linear-gradient(to bottom, #d20094, #900080);
}

#scelta option {
  font-size: 0.9em;
}

#form-difficoltà .btn {
  margin: 2em 0;
  display: block;
}

#question-count {
  font-family: "Outfit", sans-serif;
  font-size: 1.2em;
  text-align: center;
}

#question-count span {
  color: #d20094;
}

.results-page header {
  margin: 0;
}

.results-page {
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 3em;
}

.titolo {
  text-align: center;
}

.side,
.chart-inner {
  display: inline-block;
  text-align: center;
}
.button-wrapper {
  margin-top: 50px;
  text-align: center;
}

.side h2 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.side .percent {
  font-size: 4.2rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 8px;
}

.side p {
  font-size: 1.8rem;
  color: #e8e8e8;
}

.chart-inner h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.chart-inner .highlight,
.chart-inner .highlight-bocciato {
  color: #19dbe3;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.chart-inner .highlight-bocciato {
  color: #d20094;
}

.chart-inner p {
  font-size: 1rem;
  line-height: 1.4;
  color: #f2f2f2;
  margin-bottom: 8px;
}

canvas {
  width: 600px;
  height: 600px;
}

.grafico {
  position: relative;
}
.chart-inner {
  position: absolute;
  box-sizing: border-box;
  top: 10em;
  right: 0;
  padding: 0 8em;
}

.timer-container {
  width: 150px;
  height: 150px;
  position: relative;
  float: right;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-bg {
  fill: none;
  stroke: #e0e0e07d;
  stroke-width: 8;
}

.progresso-timer {
  fill: none;
  stroke: #00ffff;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
}

.numeri-timer {
  font-family: "Outfit", sans-serif;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0;
}

#countdown-numero {
  font-family: "Outfit", sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  margin: 2px 0;
}

.testo-piccolo {
  font-size: 0.3em;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
}

.timer-svg {
  width: 100%;
  height: 100%;
}

.feedback-box {
  padding: 10px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  background: transparent;
  color: white;
  resize: none;
  border: none;
  border-bottom: 2px solid #d20094;
  font-family: "Inter", sans-serif;
  height: 5em;
}

textarea::placeholder {
  color: #90a4ae;
  font-family: "Inter", sans-serif;
}

.subtitle {
  font-size: 1.5em;
  color: #cfd8dc;
  margin-bottom: 20px;
  line-height: 1.4;
}

#stelline {
  margin-bottom: 6em;
}

label[for="checkbox-promise"] {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

#checkbox-promise {
  opacity: 0;
  position: absolute;
}

.checkmark {
  position: relative;
  width: 3em;
  height: 1.5em;
  background: #c6c6c6;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.checkmark::before {
  content: "";
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff;
  top: 0;
  left: 0;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

#checkbox-promise:checked + .checkmark {
  background: #00ffff;
}

#checkbox-promise:checked + .checkmark::before {
  left: 1.5em;
}
