@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

/* Regole generali */
body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  margin-bottom: 10em;
}

h1,
h2,
h3 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 0.8em;
}

h1 {
  font-size: 4em;
  margin-bottom: 0.7em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}
h4 {
  color: #d20094;
  font-size: 1.5em;
  margin: 0;
}

.no-display {
  display: none;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.logo {
  display: inline-block;
  width: fit-content;
}

.logo img {
  width: 10em;
}

label {
  font-size: 1.2em;
}

.contenitore-generale {
  max-width: 1300px;
  margin: 0 auto;
  padding: 4em;
}

.btn {
  text-transform: uppercase;
  padding: 0.8em 3em;
  border: none;
  background-color: #00ffff;
  color: #00363a;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 15px 5px #00ffff80;
}

/*CSS Welcome Page*/

#welcome-section ul {
  margin: 3em 1em;
  list-style-type: disc;
}
#welcome-section li {
  margin-bottom: 0.5em;
}

#form-welcome {
  margin-top: 6em;
}

#form-welcome button {
  margin-left: 8em;
  display: inline-block;
}

/* CSS pagina test*/

#form-difficoltà #scelta {
  font-size: 1.3em;
  margin: 0 1em 0 0.2em;
  border: none;
  border-radius: 0;
  background-color: #00ffff;
  color: #00363a;
  text-transform: uppercase;
}

#form-domande button {
  width: 20%;
  padding: 0.8em 3em;
  border: none;
  box-shadow:
    0 -1px 0px 2px #ffffff97,
    0 -1px 0px 2px #ffffffe8;
  border-radius: 50px;
  color: #fff;
  background-color: #ffffff4a;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 1em;
}

#form-domande button:hover {
  background: linear-gradient(to bottom, #d20094, #900080);
}

#scelta option {
  font-size: 0.9em;
}

#form-difficoltà .btn {
  margin: 2em 0;
  display: block;
}

/*CSS Torta con scritte all'interno*/
.results-page header {
  margin: 0;
}

.results-page {
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 3em;
}

.titolo {
  text-align: center;
}

.side,
.chart-inner {
  display: inline-block;
  text-align: center;
}

.side h2 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.side .percent {
  font-size: 4.2rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 8px;
}

.side p {
  font-size: 1.8rem;
  color: #e8e8e8;
}

.chart-inner h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.chart-inner .highlight {
  color: #19dbe3;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.chart-inner p {
  font-size: 1rem;
  line-height: 1.4;
  color: #f2f2f2;
  margin-bottom: 8px;
}

canvas {
  width: 600px;
  height: 600px;
}

.grafico {
  position: relative;
}
.chart-inner {
  position: absolute;
  box-sizing: border-box;
  top: 10em;
  right: 0;
  padding: 0 8em;
}

/* Stile Timer*/

.timer-container {
  width: 120px;
  height: 120px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  margin: 10px;
}

.timer-bg {
  fill: none; /* No fill; only stroke */
  stroke: #e0e0e07d; /* Light gray background */
  stroke-width: 8; /* Thickness of the circle */
}

.progresso-timer {
  fill: none;
  stroke: #00ffff; /* linea Countdown */
  stroke-width: 10;
  stroke-linecap: round; /* fine linea arrotondato*/
  /* Stroke-dasharray: Total length of the stroke (circumference) */
  stroke-dasharray: 283; /* Circumference = 2πr (r=45 → 2*3.14*45 ≈ 283) */
  stroke-dashoffset: 0; /* Start with full circle visible */
  transition: stroke-dashoffset 1s linear; /* animazione */
}
.numeri-timer {
  font-family: "Outfit", sans-serif;
  font-size: 3em;
}

.numeri-timer {
  position: absolute;
}

/*CSS pagina feedback */

.feedback-box {
  padding: 10px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  background: transparent;
  color: white;
  resize: none;
  font-size: 14px;
  border-style: none none solid none;
  border-bottom: 2px solid #d20094;
  height: 1.5em;
}

textarea::placeholder {
  color: #90a4ae;
  font-family: "Inter", sans-serif;
}

.subtitle {
  font-size: 1.5em;
  color: #cfd8dc;
  margin-bottom: 20px;
  line-height: 1.4;
}

#stelline {
  margin-bottom: 6em;
}

/*CSS pagina result */

.button-wrapper {
  margin-top: 50px;
  text-align: center;
}

button {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 18px 60px;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: white;
  color: #2d1254;
}

/* @media (max-width: 900px) {
  .header h1 {
    font-size: 3rem;
  }

  .header p {
    font-size: 1.4rem;
  }

  .side h2,
  .side .percent {
    font-size: 3rem;
  }

  .chart {
    width: 280px;
    height: 280px;
  }

  .chart::before {
    width: 180px;
    height: 180px;
  }

  .chart-inner {
    width: 145px;
  }

  .chart-inner h3,
  .chart-inner .highlight {
    font-size: 1.2rem;
  }

  .chart-inner p {
    font-size: 0.8rem;
  }
} */
