* {
  font-size: 1em;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.dropdown {
  position: relative;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#dropbtn,
.dropdown-content {
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.297);
  backdrop-filter: blur(5px);
  border: none;
  cursor: pointer;
  min-width: 160px;
  max-width: 160px;
}

/* Dropdown content */
.dropdown-content {
  text-transform: uppercase;
  display: none;
  position: absolute;
  border-radius: 1em;
  height: fit-content;
}

/* Change background color of dropdown button on hover */
.dropdown:hover #dropbtn {
  background-color: #d20094;
}

/* Style the dropdown button */
#dropbtn {
  border-radius: 2em;
  padding: 1em;
  margin-bottom: 0.2em;

  /* box-shadow: 0 -1px 0 2px #fff; */
}

.dropdown-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.dropdown-content li {
  color: rgb(255, 255, 255);
  padding: 0.7em 1em 0.7em;
  text-decoration: none;
}

/* Links inside dropdown content */
.dropdown-content li:first-child {
  border-radius: 1em 1em 0 0;
  padding-top: 0.8em;
}
.dropdown-content li:last-child {
  border-radius: 0 0 1em 1em;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {
  background-color: #19dbe3;
  color: black;
}
